@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
    font-family: 'Open Sans', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

/* navbar style */
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #ffffff ;
    font-weight: 600;
}

.navbar-nav {
    margin-right: 3%;
    gap: 35px;
}





.container-top{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.hero_area {
    position: relative;
}

.top-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    z-index: -1; /* Ensure the background image is behind the content */
}

.paragraph-head{
    color: white;
    font-size: 45px;
    font-weight: 400;
}

.header_section{
    margin-bottom: 135px;
}

.underparagraph-head{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.see-more-button{
    margin-top: 20px;
    width: 165px;
    height: 55px;
    border-radius: 30px;
    background-color: #1C97AF;
    border: 1px solid #1C97AF;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}